.DS_Store
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz
downloaded_models/
saved_models/
lfw/
dogImages/
DogVGG16Data.npz