**/.ipynb_checkpoints/
**/*.pyc
DogVGG16Data.npz
dogImages/
lfw/
pickles/
saved_models/
training_records/
downloaded_models/
report.html
test_dogs/
test_human/
report_1.html
P1-dog_project-Adam_liu.zip
try.ipynb
report_2.html